<mat-card class="task-card">
  <mat-card-content>
    <div class="card-info">
      <div class="card-info-title">{{task.title}}</div>
      <div class="card-info-description">
        <div>Description:</div>
        {{task.description}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="card-btn"
      mat-raised-button color="primary"
      [routerLink]="['/list/edit-task/' + task.title]">
      Edit
    </button>
    <button class="card-btn" (click)="delete()" mat-raised-button color="warn">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
