.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;

  &-field {
    height: 60px;
    width: 64%;
    margin: 5px 0 24px 0;
  }

  &-btn {
    margin: 20px 5px 0 5px;
    width: 120px;
    font-size: 18px;
    padding: 5px 0;
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .register {
    color: #7c7373;

    .link {
      color: var(--primary);
      text-decoration: none;
      font-size: 16px;

      &:hover {
        color: var(--primary-dark);
      }
    }
  }
}
