.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  &-field {
    width: 400px;
  }
  &-btn {
    margin: 20px 5px 0 5px;
    width: 120px;
    font-size: 18px;
    padding: 5px 0;
  }
  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
