.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  &-field {
    width: 400px;
    margin-bottom: 10px;
  }

  &-btn {
    margin: 20px 5px 0 5px;
    width: 120px;
    font-size: 18px;
    padding: 5px 0;
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

::ng-deep {
  .ngx-material-timepicker-toggle {
    margin-right: 8px;

    svg {
      fill: #757575;
      width: 24px;
      height: 24px;
    }
  }
}
