.add-btn {
  margin: 25px 0 20px 18px;
  font-size: 17px;
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .content {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    color: #7a7a7a;
    margin-bottom: 10px;

    .empty-icon {
      width: 48px;
      height: 48px;
      font-size: 48px;
      color: #ccc;
    }

    .empty-message {
      font-size: 18px;
      color: #666;
      margin-top: 10px;
    }
  }
}
